# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environnement et logs
.env
*.log

# Fichiers Docker
Dockerfile
.dockerignore
docker-compose.yml

# IDE
.vscode/
.idea/